.container {
    height: 100vh;
    overflow: hidden;
    background-color: aliceblue;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #fcfcfc #ffffff;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
    background-color: #0000001e;
    border-radius: 10px;
    border: 1px solid #ffffff;
}
